.mood {
    margin: 4px;
    border-radius: 8px;
    background: #00cccc;
    color: white;
    text-shadow: 1px 1px #000000;

}

.main-container {
    display: flex;
}

#gif-display {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.gif-container {
    margin: 8px;
    position: relative;
    z-index: 1;
}

.star {
    position: absolute;
    z-index: 2;
    right: 2%;
    bottom: 2%;
    color: yellow;
}

.star:hover {
    visibility: visible;
    color: yellow;
}

#form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#favorites-div {
    font-size: 24px;
}

#add-mood {
    margin: 10px;
    border-radius: 4px;
}